{% extends 'core/base.html' %}

{% block title %} About {% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block header %}
  <h1>Aldo Amaya</h1>
  <span class="subheading">Acerca de mi</span>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">   
    <div class="col-sm-12 cv-text">
      <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
      <h2 class="section-heading">Aldo Amaya</h2>   
      <p>Nacido en la Ciudad de México, actualmente vivó en Nezahualcoyotl Estado de México, y tengo 33 años cumplidos, vivo en union libre desde hace 9 años y no tengo hijos.</p>
      <p>He concluido satisfactoriamente la carrera de Ingeniería Mecatrónica en el Tecnológico de Estudios Superiores de Chimalhuacán de la cual cuento con mi título profesional.</p>
      <p>También curse satisfactoriamente la Maestría en Administración en la misma institución, donde el título se encuentra en trámite.</p>
      <p>He laborado enteriormente como Ingeniero de diseño y procesos, donde he tenido que realizar diseño de piezas mecanicas y fabricación de las mismas, la mayoria en maquinas CNC, 
      por lo que la logica de programación la he aplicado desde hace mas de 10 años</p>
      <p>Desde el año 2018 he laborado como desarrollador web, lo cual aprendi por mi propia cuenta, y culmine proyectos con mis propios medios.</p>
      <p>En el año 2019 comence a trabajar con un equipo de desarrollo web, en donde mis conocimientos mejoraron muy rápidamente, y aprendí nuevas técnicas de desarrollo. </p>
      <p>Actualmente estoy en busca de formar parte nuevamente de un equipo que me haga enfrentarme a nuevos retos, y enfrentarlos para poder crear una mayor cantidad de conocimientos 
      y habilidades profesionales, asi como yo tambien poder colaborar a mejorar sus técnicas y conocimientos del grupo de trabajo.</p>
    </div>

    <div class="col-lg-7 col-md-8">
      <br>
      <a href="{% static "core/files/Aldo_Amaya_CV.pdf" %}" target="_blank">Ver Curriculum en PDF aquí</a>
    </div>
  </div>  
</div>

{% endblock %}